In [3]:
import numpy as np
import polars as pl

In [4]:
enade = pl.read_excel("../data/raw/conceito_enade_2021.xlsx", engine="calamine")

In [5]:
enade

shape: (7_998, 23)
┌──────┬────────────┬────────────┬────────────┬───┬────────────┬───────────┬───────────┬───────────┐
│ Ano  ┆ Código da  ┆ Área de    ┆ Grau       ┆ … ┆ Nota Padro ┆ Conceito  ┆ Conceito  ┆ Observaçã │
│ ---  ┆ Área       ┆ Avaliação  ┆ Acadêmico  ┆   ┆ nizada -   ┆ Enade (Co ┆ Enade     ┆ o         │
│ i64  ┆ ---        ┆ ---        ┆ ---        ┆   ┆ CE         ┆ ntínuo)   ┆ (Faixa)   ┆ ---       │
│      ┆ i64        ┆ str        ┆ str        ┆   ┆ ---        ┆ ---       ┆ ---       ┆ str       │
│      ┆            ┆            ┆            ┆   ┆ f64        ┆ f64       ┆ str       ┆           │
╞══════╪════════════╪════════════╪════════════╪═══╪════════════╪═══════════╪═══════════╪═══════════╡
│ 2021 ┆ 2501       ┆ ARTES      ┆ Licenciatu ┆ … ┆ 3.947      ┆ 3.903     ┆ 4         ┆ null      │
│      ┆            ┆ VISUAIS    ┆ ra         ┆   ┆            ┆           ┆           ┆           │
│ 2021 ┆ 2501       ┆ ARTES      ┆ Licenciatu ┆ … ┆ 2.64       ┆ 2.727     ┆ 3         ┆ null      │
│      ┆            ┆ VISUAIS    ┆ ra         ┆   ┆            ┆           ┆           ┆           │
│ 2021 ┆ 2501       ┆ ARTES      ┆ Licenciatu ┆ … ┆ 2.59       ┆ 2.541     ┆ 3         ┆ null      │
│      ┆            ┆ VISUAIS    ┆ ra         ┆   ┆            ┆           ┆           ┆           │
│ 2021 ┆ 2501       ┆ ARTES      ┆ Licenciatu ┆ … ┆ 3.009      ┆ 3.117     ┆ 4         ┆ null      │
│      ┆            ┆ VISUAIS    ┆ ra         ┆   ┆            ┆           ┆           ┆           │
│ 2021 ┆ 2501       ┆ ARTES      ┆ Licenciatu ┆ … ┆ 0.374      ┆ 0.488     ┆ 1         ┆ null      │
│      ┆            ┆ VISUAIS    ┆ ra         ┆   ┆            ┆           ┆           ┆           │
│ …    ┆ …          ┆ …          ┆ …          ┆ … ┆ …          ┆ …         ┆ …         ┆ …         │
│ 2021 ┆ 79         ┆ TECNOLOGIA ┆ Tecnológic ┆ … ┆ 2.396      ┆ 1.923     ┆ 2         ┆ null      │
│      ┆            ┆ EM REDES   ┆ o          ┆   ┆            ┆           ┆           ┆           │
│      ┆            ┆ DE         ┆            ┆   ┆            ┆           ┆           ┆           │
│      ┆            ┆ COMPUTADO… ┆            ┆   ┆            ┆           ┆           ┆           │
│ 2021 ┆ 79         ┆ TECNOLOGIA ┆ Tecnológic ┆ … ┆ 2.051      ┆ 2.336     ┆ 3         ┆ null      │
│      ┆            ┆ EM REDES   ┆ o          ┆   ┆            ┆           ┆           ┆           │
│      ┆            ┆ DE         ┆            ┆   ┆            ┆           ┆           ┆           │
│      ┆            ┆ COMPUTADO… ┆            ┆   ┆            ┆           ┆           ┆           │
│ 2021 ┆ 79         ┆ TECNOLOGIA ┆ Tecnológic ┆ … ┆ 2.018      ┆ 2.171     ┆ 3         ┆ null      │
│      ┆            ┆ EM REDES   ┆ o          ┆   ┆            ┆           ┆           ┆           │
│      ┆            ┆ DE         ┆            ┆   ┆            ┆           ┆           ┆           │
│      ┆            ┆ COMPUTADO… ┆            ┆   ┆            ┆           ┆           ┆           │
│ 2021 ┆ 79         ┆ TECNOLOGIA ┆ Tecnológic ┆ … ┆ 2.69       ┆ 2.72      ┆ 3         ┆ null      │
│      ┆            ┆ EM REDES   ┆ o          ┆   ┆            ┆           ┆           ┆           │
│      ┆            ┆ DE         ┆            ┆   ┆            ┆           ┆           ┆           │
│      ┆            ┆ COMPUTADO… ┆            ┆   ┆            ┆           ┆           ┆           │
│ null ┆ null       ┆ null       ┆ null       ┆ … ┆ null       ┆ null      ┆ null      ┆ null      │
└──────┴────────────┴────────────┴────────────┴───┴────────────┴───────────┴───────────┴───────────┘

In [6]:
enade.schema

OrderedDict([('Ano', Int64),
             ('Código da Área', Int64),
             ('Área de Avaliação', String),
             ('Grau Acadêmico', String),
             ('Código da IES', Int64),
             ('Nome da IES', String),
             ('Sigla da IES*', String),
             ('Organização Acadêmica', String),
             ('Categoria Administrativa', String),
             ('Código do Curso', Int64),
             ('Modalidade de Ensino', String),
             ('Código do Município**', Int64),
             ('Município do Curso', String),
             ('Sigla da UF', String),
             ('Nº de Concluintes Inscritos', Int64),
             ('Nº  de Concluintes Participantes', Int64),
             ('Nota Bruta - FG', Float64),
             ('Nota Padronizada - FG', Float64),
             ('Nota Bruta - CE', Float64),
             ('Nota Padronizada - CE', Float64),
             ('Conceito Enade (Contínuo)', Float64),
             ('Conceito Enade (Faixa)', String),
             ('Observação', String)])

In [7]:
enade.describe()

shape: (9, 24)
┌────────────┬────────┬────────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ statistic  ┆ Ano    ┆ Código da  ┆ Área de   ┆ … ┆ Nota Padr ┆ Conceito  ┆ Conceito  ┆ Observaçã │
│ ---        ┆ ---    ┆ Área       ┆ Avaliação ┆   ┆ onizada - ┆ Enade (Co ┆ Enade     ┆ o         │
│ str        ┆ f64    ┆ ---        ┆ ---       ┆   ┆ CE        ┆ ntínuo)   ┆ (Faixa)   ┆ ---       │
│            ┆        ┆ f64        ┆ str       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ str       │
│            ┆        ┆            ┆           ┆   ┆ f64       ┆ f64       ┆ str       ┆           │
╞════════════╪════════╪════════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ count      ┆ 7997.0 ┆ 7997.0     ┆ 7997      ┆ … ┆ 7512.0    ┆ 7512.0    ┆ 7853      ┆ 144       │
│ null_count ┆ 1.0    ┆ 1.0        ┆ 1         ┆ … ┆ 486.0     ┆ 486.0     ┆ 145       ┆ 7854      │
│ mean       ┆ 2021.0 ┆ 2362.29236 ┆ null      ┆ … ┆ 2.379196  ┆ 2.400736  ┆ null      ┆ null      │
│ std        ┆ 0.0    ┆ 1514.19674 ┆ null      ┆ … ┆ 0.974633  ┆ 0.912079  ┆ null      ┆ null      │
│            ┆        ┆ 6          ┆           ┆   ┆           ┆           ┆           ┆           │
│ min        ┆ 2021.0 ┆ 26.0       ┆ ARTES     ┆ … ┆ 0.0       ┆ 0.0       ┆ 1         ┆ Curso     │
│            ┆        ┆            ┆ VISUAIS   ┆   ┆           ┆           ┆           ┆ para o    │
│            ┆        ┆            ┆           ┆   ┆           ┆           ┆           ┆ qual esta │
│            ┆        ┆            ┆           ┆   ┆           ┆           ┆           ┆ tisticame │
│            ┆        ┆            ┆           ┆   ┆           ┆           ┆           ┆ n…        │
│ 25%        ┆ 2021.0 ┆ 1402.0     ┆ null      ┆ … ┆ 1.679     ┆ 1.751     ┆ null      ┆ null      │
│ 50%        ┆ 2021.0 ┆ 2001.0     ┆ null      ┆ … ┆ 2.32      ┆ 2.339     ┆ null      ┆ null      │
│ 75%        ┆ 2021.0 ┆ 3501.0     ┆ null      ┆ … ┆ 3.029     ┆ 3.007     ┆ null      ┆ null      │
│ max        ┆ 2021.0 ┆ 6409.0     ┆ TECNOLOGI ┆ … ┆ 5.0       ┆ 5.0       ┆ SC        ┆ Curso     │
│            ┆        ┆            ┆ A EM      ┆   ┆           ┆           ┆           ┆ para o    │
│            ┆        ┆            ┆ REDES DE  ┆   ┆           ┆           ┆           ┆ qual esta │
│            ┆        ┆            ┆ COMPUTADO ┆   ┆           ┆           ┆           ┆ tisticame │
│            ┆        ┆            ┆ …         ┆   ┆           ┆           ┆           ┆ n…        │
└────────────┴────────┴────────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘

In [8]:
enade.filter(pl.col("Área de Avaliação") == "TURISMO")

shape: (0, 23)
┌─────┬────────────┬────────────┬────────────┬───┬────────────┬────────────┬───────────┬───────────┐
│ Ano ┆ Código da  ┆ Área de    ┆ Grau       ┆ … ┆ Nota Padro ┆ Conceito   ┆ Conceito  ┆ Observaçã │
│ --- ┆ Área       ┆ Avaliação  ┆ Acadêmico  ┆   ┆ nizada -   ┆ Enade      ┆ Enade     ┆ o         │
│ i64 ┆ ---        ┆ ---        ┆ ---        ┆   ┆ CE         ┆ (Contínuo) ┆ (Faixa)   ┆ ---       │
│     ┆ i64        ┆ str        ┆ str        ┆   ┆ ---        ┆ ---        ┆ ---       ┆ str       │
│     ┆            ┆            ┆            ┆   ┆ f64        ┆ f64        ┆ str       ┆           │
╞═════╪════════════╪════════════╪════════════╪═══╪════════════╪════════════╪═══════════╪═══════════╡
└─────┴────────────┴────────────┴────────────┴───┴────────────┴────────────┴───────────┴───────────┘

In [9]:
enade.estimated_size()

1970215

In [10]:
df = pl.DataFrame(
    {
        "nrs": [1, 2, 3, None, 5],
        "names": ["foo", "ham", "spam", "egg", None],
        "random": np.random.rand(5),
        "groups": ["A", "A", "B", "C", "B"],
    }
)
df

shape: (5, 4)
┌──────┬───────┬──────────┬────────┐
│ nrs  ┆ names ┆ random   ┆ groups │
│ ---  ┆ ---   ┆ ---      ┆ ---    │
│ i64  ┆ str   ┆ f64      ┆ str    │
╞══════╪═══════╪══════════╪════════╡
│ 1    ┆ foo   ┆ 0.006603 ┆ A      │
│ 2    ┆ ham   ┆ 0.376124 ┆ A      │
│ 3    ┆ spam  ┆ 0.172462 ┆ B      │
│ null ┆ egg   ┆ 0.529195 ┆ C      │
│ 5    ┆ null  ┆ 0.922752 ┆ B      │
└──────┴───────┴──────────┴────────┘

In [11]:
df.select(
    (pl.col("nrs") * 2).alias("nrs * 2"),
    (pl.col("nrs") + 3).alias("nrs + 3"),
    (pl.col("nrs") / 2).alias("nrs / 2"),
    (pl.col("nrs") * pl.col("random")).alias("nrs * random"),
    (pl.col("nrs") + pl.col("random")).alias("nrs + random"),
)

shape: (5, 5)
┌─────────┬─────────┬─────────┬──────────────┬──────────────┐
│ nrs * 2 ┆ nrs + 3 ┆ nrs / 2 ┆ nrs * random ┆ nrs + random │
│ ---     ┆ ---     ┆ ---     ┆ ---          ┆ ---          │
│ i64     ┆ i64     ┆ f64     ┆ f64          ┆ f64          │
╞═════════╪═════════╪═════════╪══════════════╪══════════════╡
│ 2       ┆ 4       ┆ 0.5     ┆ 0.006603     ┆ 1.006603     │
│ 4       ┆ 5       ┆ 1.0     ┆ 0.752247     ┆ 2.376124     │
│ 6       ┆ 6       ┆ 1.5     ┆ 0.517386     ┆ 3.172462     │
│ null    ┆ null    ┆ null    ┆ null         ┆ null         │
│ 10      ┆ 8       ┆ 2.5     ┆ 4.613762     ┆ 5.922752     │
└─────────┴─────────┴─────────┴──────────────┴──────────────┘

In [12]:
df.select(
    pl.col("names").str.to_uppercase().alias("names uppercase"),
    pl.col("names").str.to_lowercase().alias("names lowercase"),
    (pl.col("nrs") > 1).alias("nrs > 1"),
    pl.col("nrs"),
    ((pl.col("nrs") % 2 == 1) & (pl.col("nrs") > 2)).alias("nrs > 5 e impar"),
)

shape: (5, 5)
┌─────────────────┬─────────────────┬─────────┬──────┬─────────────────┐
│ names uppercase ┆ names lowercase ┆ nrs > 1 ┆ nrs  ┆ nrs > 5 e impar │
│ ---             ┆ ---             ┆ ---     ┆ ---  ┆ ---             │
│ str             ┆ str             ┆ bool    ┆ i64  ┆ bool            │
╞═════════════════╪═════════════════╪═════════╪══════╪═════════════════╡
│ FOO             ┆ foo             ┆ false   ┆ 1    ┆ false           │
│ HAM             ┆ ham             ┆ true    ┆ 2    ┆ false           │
│ SPAM            ┆ spam            ┆ true    ┆ 3    ┆ true            │
│ EGG             ┆ egg             ┆ null    ┆ null ┆ null            │
│ null            ┆ null            ┆ true    ┆ 5    ┆ true            │
└─────────────────┴─────────────────┴─────────┴──────┴─────────────────┘

In [13]:
df.select(pl.col("*"))

shape: (5, 4)
┌──────┬───────┬──────────┬────────┐
│ nrs  ┆ names ┆ random   ┆ groups │
│ ---  ┆ ---   ┆ ---      ┆ ---    │
│ i64  ┆ str   ┆ f64      ┆ str    │
╞══════╪═══════╪══════════╪════════╡
│ 1    ┆ foo   ┆ 0.006603 ┆ A      │
│ 2    ┆ ham   ┆ 0.376124 ┆ A      │
│ 3    ┆ spam  ┆ 0.172462 ┆ B      │
│ null ┆ egg   ┆ 0.529195 ┆ C      │
│ 5    ┆ null  ┆ 0.922752 ┆ B      │
└──────┴───────┴──────────┴────────┘

In [14]:
df.select(pl.col("*").exclude("random", "names"))

shape: (5, 2)
┌──────┬────────┐
│ nrs  ┆ groups │
│ ---  ┆ ---    │
│ i64  ┆ str    │
╞══════╪════════╡
│ 1    ┆ A      │
│ 2    ┆ A      │
│ 3    ┆ B      │
│ null ┆ C      │
│ 5    ┆ B      │
└──────┴────────┘

In [15]:
df.select(pl.col("names", "groups").str.to_lowercase())

shape: (5, 2)
┌───────┬────────┐
│ names ┆ groups │
│ ---   ┆ ---    │
│ str   ┆ str    │
╞═══════╪════════╡
│ foo   ┆ a      │
│ ham   ┆ a      │
│ spam  ┆ b      │
│ egg   ┆ c      │
│ null  ┆ b      │
└───────┴────────┘

In [16]:
df.select(
    pl.col("names").n_unique().alias("n_unique"),
    pl.approx_n_unique("names").alias("approx_n_unique"),
)

shape: (1, 2)
┌──────────┬─────────────────┐
│ n_unique ┆ approx_n_unique │
│ ---      ┆ ---             │
│ u32      ┆ u32             │
╞══════════╪═════════════════╡
│ 5        ┆ 5               │
└──────────┴─────────────────┘

In [17]:
df.select(
    pl.col("nrs"),
    pl.when(pl.col("nrs") >= 2)
    .then(pl.lit(True))
    .otherwise(pl.lit(False))
    .alias("nrs >= 2"),
)

shape: (5, 2)
┌──────┬──────────┐
│ nrs  ┆ nrs >= 2 │
│ ---  ┆ ---      │
│ i64  ┆ bool     │
╞══════╪══════════╡
│ 1    ┆ false    │
│ 2    ┆ true     │
│ 3    ┆ true     │
│ null ┆ false    │
│ 5    ┆ true     │
└──────┴──────────┘

In [18]:
df_num = pl.DataFrame(
    {
        "integers": [1, 2, 3, 4, 5],
        "big_integers": [1, 10000002, 3, 10000004, 10000005],
        "floats": [4.0, 5.0, 6.0, 7.0, 8.0],
        "floats_with_decimal": [4.532, 5.5, 6.5, 7.5, 8.5],
    }
)

df_num

shape: (5, 4)
┌──────────┬──────────────┬────────┬─────────────────────┐
│ integers ┆ big_integers ┆ floats ┆ floats_with_decimal │
│ ---      ┆ ---          ┆ ---    ┆ ---                 │
│ i64      ┆ i64          ┆ f64    ┆ f64                 │
╞══════════╪══════════════╪════════╪═════════════════════╡
│ 1        ┆ 1            ┆ 4.0    ┆ 4.532               │
│ 2        ┆ 10000002     ┆ 5.0    ┆ 5.5                 │
│ 3        ┆ 3            ┆ 6.0    ┆ 6.5                 │
│ 4        ┆ 10000004     ┆ 7.0    ┆ 7.5                 │
│ 5        ┆ 10000005     ┆ 8.0    ┆ 8.5                 │
└──────────┴──────────────┴────────┴─────────────────────┘

In [19]:
df_num.select(
    pl.col("integers").cast(pl.Float32).alias("integers_as_floats"),
    pl.col("floats").cast(pl.Int16).alias("floats_as_integers"),
    pl.col("floats_with_decimal")
    .cast(pl.Int16)
    .alias("floats_with_decimal_as_integers"),
)

shape: (5, 3)
┌────────────────────┬────────────────────┬─────────────────────────────────┐
│ integers_as_floats ┆ floats_as_integers ┆ floats_with_decimal_as_integers │
│ ---                ┆ ---                ┆ ---                             │
│ f32                ┆ i16                ┆ i16                             │
╞════════════════════╪════════════════════╪═════════════════════════════════╡
│ 1.0                ┆ 4                  ┆ 4                               │
│ 2.0                ┆ 5                  ┆ 5                               │
│ 3.0                ┆ 6                  ┆ 6                               │
│ 4.0                ┆ 7                  ┆ 7                               │
│ 5.0                ┆ 8                  ┆ 8                               │
└────────────────────┴────────────────────┴─────────────────────────────────┘

In [20]:
df_num.select(
    pl.col("integers"),
    pl.col("integers").cast(pl.Int8).alias("integers_as_Int8"),
)

shape: (5, 2)
┌──────────┬──────────────────┐
│ integers ┆ integers_as_Int8 │
│ ---      ┆ ---              │
│ i64      ┆ i8               │
╞══════════╪══════════════════╡
│ 1        ┆ 1                │
│ 2        ┆ 2                │
│ 3        ┆ 3                │
│ 4        ┆ 4                │
│ 5        ┆ 5                │
└──────────┴──────────────────┘

In [21]:
df_str = pl.DataFrame({"animal": ["Crab", "cat and dog", "rab$bit", None]})

df_str

shape: (4, 1)
┌─────────────┐
│ animal      │
│ ---         │
│ str         │
╞═════════════╡
│ Crab        │
│ cat and dog │
│ rab$bit     │
│ null        │
└─────────────┘

In [22]:
df_str.select(
    pl.col("animal").str.len_bytes().alias("byte_count"),
    pl.col("animal").str.len_chars().alias("letter_count"),
)

shape: (4, 2)
┌────────────┬──────────────┐
│ byte_count ┆ letter_count │
│ ---        ┆ ---          │
│ u32        ┆ u32          │
╞════════════╪══════════════╡
│ 4          ┆ 4            │
│ 11         ┆ 11           │
│ 7          ┆ 7            │
│ null       ┆ null         │
└────────────┴──────────────┘

In [23]:
url = (
    "https://theunitedstates.io/congress-legislators/legislators-historical.csv"
)

dtypes = {
    "first_name": pl.Categorical,
    "gender": pl.Categorical,
    "type": pl.Categorical,
    "state": pl.Categorical,
    "party": pl.Categorical,
}

dataset = pl.read_csv(url, dtypes=dtypes).with_columns(
    pl.col("birthday").str.to_date(strict=False)
)

dataset

shape: (12_142, 36)
┌───────────┬────────────┬────────────┬────────┬───┬────────────┬───────────┬──────────┬───────────┐
│ last_name ┆ first_name ┆ middle_nam ┆ suffix ┆ … ┆ ballotpedi ┆ washingto ┆ icpsr_id ┆ wikipedia │
│ ---       ┆ ---        ┆ e          ┆ ---    ┆   ┆ a_id       ┆ n_post_id ┆ ---      ┆ _id       │
│ str       ┆ cat        ┆ ---        ┆ str    ┆   ┆ ---        ┆ ---       ┆ i64      ┆ ---       │
│           ┆            ┆ str        ┆        ┆   ┆ str        ┆ str       ┆          ┆ str       │
╞═══════════╪════════════╪════════════╪════════╪═══╪════════════╪═══════════╪══════════╪═══════════╡
│ Bassett   ┆ Richard    ┆ null       ┆ null   ┆ … ┆ null       ┆ null      ┆ 507      ┆ Richard   │
│           ┆            ┆            ┆        ┆   ┆            ┆           ┆          ┆ Bassett   │
│           ┆            ┆            ┆        ┆   ┆            ┆           ┆          ┆ (Delaware │
│           ┆            ┆            ┆        ┆   ┆            ┆           ┆          ┆ politi…   │
│ Bland     ┆ Theodorick ┆ null       ┆ null   ┆ … ┆ null       ┆ null      ┆ 786      ┆ Theodoric │
│           ┆            ┆            ┆        ┆   ┆            ┆           ┆          ┆ k Bland   │
│           ┆            ┆            ┆        ┆   ┆            ┆           ┆          ┆ (congress │
│           ┆            ┆            ┆        ┆   ┆            ┆           ┆          ┆ man)      │
│ Burke     ┆ Aedanus    ┆ null       ┆ null   ┆ … ┆ null       ┆ null      ┆ 1260     ┆ Aedanus   │
│           ┆            ┆            ┆        ┆   ┆            ┆           ┆          ┆ Burke     │
│ Carroll   ┆ Daniel     ┆ null       ┆ null   ┆ … ┆ null       ┆ null      ┆ 1538     ┆ Daniel    │
│           ┆            ┆            ┆        ┆   ┆            ┆           ┆          ┆ Carroll   │
│ Clymer    ┆ George     ┆ null       ┆ null   ┆ … ┆ null       ┆ null      ┆ 1859     ┆ George    │
│           ┆            ┆            ┆        ┆   ┆            ┆           ┆          ┆ Clymer    │
│ …         ┆ …          ┆ …          ┆ …      ┆ … ┆ …          ┆ …         ┆ …        ┆ …         │
│ Stewart   ┆ Chris      ┆ null       ┆ null   ┆ … ┆ Chris      ┆ null      ┆ 21367    ┆ Chris     │
│           ┆            ┆            ┆        ┆   ┆ Stewart    ┆           ┆          ┆ Stewart   │
│           ┆            ┆            ┆        ┆   ┆            ┆           ┆          ┆ (politici │
│           ┆            ┆            ┆        ┆   ┆            ┆           ┆          ┆ an)       │
│ Santos    ┆ George     ┆ Anthony    ┆ null   ┆ … ┆ George Dev ┆ null      ┆ null     ┆ George    │
│           ┆            ┆ Devolder   ┆        ┆   ┆ older-Sant ┆           ┆          ┆ Santos    │
│           ┆            ┆            ┆        ┆   ┆ os         ┆           ┆          ┆           │
│ McCarthy  ┆ Kevin      ┆ null       ┆ null   ┆ … ┆ Kevin      ┆ null      ┆ 20703    ┆ Kevin     │
│           ┆            ┆            ┆        ┆   ┆ McCarthy   ┆           ┆          ┆ McCarthy  │
│           ┆            ┆            ┆        ┆   ┆ (Californi ┆           ┆          ┆           │
│           ┆            ┆            ┆        ┆   ┆ a)         ┆           ┆          ┆           │
│ Johnson   ┆ Bill       ┆ null       ┆ null   ┆ … ┆ Bill       ┆ null      ┆ 21162    ┆ Bill      │
│           ┆            ┆            ┆        ┆   ┆ Johnson    ┆           ┆          ┆ Johnson   │
│           ┆            ┆            ┆        ┆   ┆ (Ohio)     ┆           ┆          ┆ (Ohio pol │
│           ┆            ┆            ┆        ┆   ┆            ┆           ┆          ┆ itician)  │
│ Higgins   ┆ Brian      ┆ M.         ┆ null   ┆ … ┆ Brian      ┆ null      ┆ 20519    ┆ Brian     │
│           ┆            ┆            ┆        ┆   ┆ Higgins    ┆           ┆          ┆ Higgins   │
└───────────┴────────────┴────────────┴────────┴───┴────────────┴───────────┴──────────┴───────────┘

In [24]:
(
    dataset.lazy()
    .group_by("first_name")
    .agg(
        pl.col("last_name").count().alias("count"),
        pl.col("gender"),
        pl.col("last_name").first(),
    )
    .sort("count", descending=True)
    .limit(5)
    .collect()
)

shape: (5, 4)
┌────────────┬───────┬───────────────────┬───────────┐
│ first_name ┆ count ┆ gender            ┆ last_name │
│ ---        ┆ ---   ┆ ---               ┆ ---       │
│ cat        ┆ u32   ┆ list[cat]         ┆ str       │
╞════════════╪═══════╪═══════════════════╪═══════════╡
│ John       ┆ 1256  ┆ ["M", "M", … "M"] ┆ Walker    │
│ William    ┆ 1022  ┆ ["M", "M", … "M"] ┆ Few       │
│ James      ┆ 714   ┆ ["M", "M", … "M"] ┆ Armstrong │
│ Thomas     ┆ 453   ┆ ["M", "M", … "M"] ┆ Tucker    │
│ Charles    ┆ 439   ┆ ["M", "M", … "M"] ┆ Carroll   │
└────────────┴───────┴───────────────────┴───────────┘

In [25]:
(
    dataset.lazy()
    .group_by("state")
    .agg(
        (pl.col("party") == "Anti-Administration").sum().alias("anti"),
        (pl.col("party") == "Pro-Administration").sum().alias("pro"),
    )
    .sort("pro", descending=True)
    .collect()
)

shape: (58, 3)
┌───────┬──────┬─────┐
│ state ┆ anti ┆ pro │
│ ---   ┆ ---  ┆ --- │
│ cat   ┆ u32  ┆ u32 │
╞═══════╪══════╪═════╡
│ CT    ┆ 0    ┆ 3   │
│ NJ    ┆ 0    ┆ 3   │
│ NC    ┆ 1    ┆ 2   │
│ SC    ┆ 0    ┆ 1   │
│ PA    ┆ 1    ┆ 1   │
│ …     ┆ …    ┆ …   │
│ MO    ┆ 0    ┆ 0   │
│ AR    ┆ 0    ┆ 0   │
│ OR    ┆ 0    ┆ 0   │
│ AZ    ┆ 0    ┆ 0   │
│ CA    ┆ 0    ┆ 0   │
└───────┴──────┴─────┘

In [26]:
def get_person() -> pl.Expr:
    return pl.col("first_name") + pl.lit(" ") + pl.col("last_name")


(
    dataset.lazy()
    .sort("birthday", descending=True)
    .group_by("state")
    .agg(
        get_person().first().alias("youngest"),
        get_person().last().alias("oldest"),
    )
    .collect()
)

shape: (58, 3)
┌───────┬──────────────────────┬──────────────────────┐
│ state ┆ youngest             ┆ oldest               │
│ ---   ┆ ---                  ┆ ---                  │
│ cat   ┆ str                  ┆ str                  │
╞═══════╪══════════════════════╪══════════════════════╡
│ NM    ┆ Xochitl Torres Small ┆ José Gallegos        │
│ CT    ┆ Samuel Simons        ┆ Roger Sherman        │
│ MS    ┆ Charles Hooker       ┆ Thomas Greene        │
│ NY    ┆ Robert Baker         ┆ Philip Schuyler      │
│ WV    ┆ John Hutchinson      ┆ Daniel Polsley       │
│ …     ┆ …                    ┆ …                    │
│ NE    ┆ Samuel Daily         ┆ Experience Estabrook │
│ MA    ┆ John Bailey          ┆ Artemas Ward         │
│ IN    ┆ Joseph White         ┆ John Test            │
│ HI    ┆ Tulsi Gabbard        ┆ Robert Wilcox        │
│ OH    ┆ Amos Townsend        ┆ Paul Fearing         │
└───────┴──────────────────────┴──────────────────────┘

In [27]:
(
    dataset.lazy()
    .sort("birthday", descending=True)
    .group_by("state")
    .agg(
        get_person().first().alias("youngest"),
        get_person().last().alias("oldest"),
        get_person().sort().first().alias("alphabetical_first"),
    )
    .collect()
)

shape: (58, 4)
┌───────┬─────────────────────┬─────────────────┬────────────────────┐
│ state ┆ youngest            ┆ oldest          ┆ alphabetical_first │
│ ---   ┆ ---                 ┆ ---             ┆ ---                │
│ cat   ┆ str                 ┆ str             ┆ str                │
╞═══════╪═════════════════════╪═════════════════╪════════════════════╡
│ OR    ┆ George Shiel        ┆ Joseph Lane     ┆ Abraham Lafferty   │
│ PR    ┆ Aníbal Acevedo-Vilá ┆ Tulio Larrinaga ┆ Antonio Colorado   │
│ AR    ┆ William Sebastian   ┆ James Bates     ┆ Albert Rust        │
│ PA    ┆ John Robbins        ┆ Israel Jacobs   ┆ Aaron Kreider      │
│ TN    ┆ Brookins Campbell   ┆ John Sevier     ┆ Aaron Brown        │
│ …     ┆ …                   ┆ …               ┆ …                  │
│ SC    ┆ James Black         ┆ Thomas Sumter   ┆ Abraham Nott       │
│ ID    ┆ Raúl Labrador       ┆ William Wallace ┆ Abe Goff           │
│ WI    ┆ Sean Duffy          ┆ Henry Dodge     ┆ Adolphus Nelson    │
│ ND    ┆ Rick Berg           ┆ Lyman Casey     ┆ Arthur Link        │
│ VI    ┆ Donna Christensen   ┆ Melvin Evans    ┆ Donna Christensen  │
└───────┴─────────────────────┴─────────────────┴────────────────────┘

In [28]:
(dataset.lazy().null_count().collect())

shape: (1, 36)
┌───────────┬────────────┬────────────┬────────┬───┬────────────┬───────────┬──────────┬───────────┐
│ last_name ┆ first_name ┆ middle_nam ┆ suffix ┆ … ┆ ballotpedi ┆ washingto ┆ icpsr_id ┆ wikipedia │
│ ---       ┆ ---        ┆ e          ┆ ---    ┆   ┆ a_id       ┆ n_post_id ┆ ---      ┆ _id       │
│ u32       ┆ u32        ┆ ---        ┆ u32    ┆   ┆ ---        ┆ ---       ┆ u32      ┆ ---       │
│           ┆            ┆ u32        ┆        ┆   ┆ u32        ┆ u32       ┆          ┆ u32       │
╞═══════════╪════════════╪════════════╪════════╪═══╪════════════╪═══════════╪══════════╪═══════════╡
│ 0         ┆ 0          ┆ 3709       ┆ 11714  ┆ … ┆ 11758      ┆ 12142     ┆ 223      ┆ 0         │
└───────────┴────────────┴────────────┴────────┴───┴────────────┴───────────┴──────────┴───────────┘

In [29]:
(
    dataset.lazy()
    .select(pl.col("middle_name").is_null().sum().alias("middle_name_nulls"))
    .collect()
)

shape: (1, 1)
┌───────────────────┐
│ middle_name_nulls │
│ ---               │
│ u32               │
╞═══════════════════╡
│ 3709              │
└───────────────────┘

In [30]:
df_filling_missing_data = pl.DataFrame(
    {
        "col1": [1, 2, 3],
        "col2": [1, None, 3],
    },
)
df_filling_missing_data

shape: (3, 2)
┌──────┬──────┐
│ col1 ┆ col2 │
│ ---  ┆ ---  │
│ i64  ┆ i64  │
╞══════╪══════╡
│ 1    ┆ 1    │
│ 2    ┆ null │
│ 3    ┆ 3    │
└──────┴──────┘

In [31]:
(
    df_filling_missing_data.lazy()
    .with_columns(pl.col("col2").fill_null(pl.lit(2)))
    .collect()
)

shape: (3, 2)
┌──────┬──────┐
│ col1 ┆ col2 │
│ ---  ┆ ---  │
│ i64  ┆ i64  │
╞══════╪══════╡
│ 1    ┆ 1    │
│ 2    ┆ 2    │
│ 3    ┆ 3    │
└──────┴──────┘

In [32]:
(
    df_filling_missing_data.lazy()
    .with_columns(pl.col("col2").fill_null(strategy="forward"))
    .collect()
)

shape: (3, 2)
┌──────┬──────┐
│ col1 ┆ col2 │
│ ---  ┆ ---  │
│ i64  ┆ i64  │
╞══════╪══════╡
│ 1    ┆ 1    │
│ 2    ┆ 1    │
│ 3    ┆ 3    │
└──────┴──────┘

In [33]:
(
    df_filling_missing_data.lazy()
    .with_columns(pl.col("col2").fill_null(pl.median("col2")))
    .collect()
)

shape: (3, 2)
┌──────┬──────┐
│ col1 ┆ col2 │
│ ---  ┆ ---  │
│ i64  ┆ f64  │
╞══════╪══════╡
│ 1    ┆ 1.0  │
│ 2    ┆ 2.0  │
│ 3    ┆ 3.0  │
└──────┴──────┘

In [34]:
(
    df_filling_missing_data.lazy()
    .with_columns(pl.col("col2").fill_null(strategy="backward"))
    .collect()
)

shape: (3, 2)
┌──────┬──────┐
│ col1 ┆ col2 │
│ ---  ┆ ---  │
│ i64  ┆ i64  │
╞══════╪══════╡
│ 1    ┆ 1    │
│ 2    ┆ 3    │
│ 3    ┆ 3    │
└──────┴──────┘

In [35]:
(
    df_filling_missing_data.lazy()
    .with_columns(pl.col("col2").interpolate())
    .collect()
)

shape: (3, 2)
┌──────┬──────┐
│ col1 ┆ col2 │
│ ---  ┆ ---  │
│ i64  ┆ f64  │
╞══════╪══════╡
│ 1    ┆ 1.0  │
│ 2    ┆ 2.0  │
│ 3    ┆ 3.0  │
└──────┴──────┘

In [36]:
pokemon = pl.read_csv(
    "https://gist.githubusercontent.com/ritchie46/cac6b337ea52281aa23c049250a4ff03/raw/89a957ff3919d90e6ef2d34235e6bf22304f3366/pokemon.csv"
)

pokemon

shape: (163, 13)
┌─────┬───────────────────────┬─────────┬────────┬───┬─────────┬───────┬────────────┬───────────┐
│ #   ┆ Name                  ┆ Type 1  ┆ Type 2 ┆ … ┆ Sp. Def ┆ Speed ┆ Generation ┆ Legendary │
│ --- ┆ ---                   ┆ ---     ┆ ---    ┆   ┆ ---     ┆ ---   ┆ ---        ┆ ---       │
│ i64 ┆ str                   ┆ str     ┆ str    ┆   ┆ i64     ┆ i64   ┆ i64        ┆ bool      │
╞═════╪═══════════════════════╪═════════╪════════╪═══╪═════════╪═══════╪════════════╪═══════════╡
│ 1   ┆ Bulbasaur             ┆ Grass   ┆ Poison ┆ … ┆ 65      ┆ 45    ┆ 1          ┆ false     │
│ 2   ┆ Ivysaur               ┆ Grass   ┆ Poison ┆ … ┆ 80      ┆ 60    ┆ 1          ┆ false     │
│ 3   ┆ Venusaur              ┆ Grass   ┆ Poison ┆ … ┆ 100     ┆ 80    ┆ 1          ┆ false     │
│ 3   ┆ VenusaurMega Venusaur ┆ Grass   ┆ Poison ┆ … ┆ 120     ┆ 80    ┆ 1          ┆ false     │
│ 4   ┆ Charmander            ┆ Fire    ┆ null   ┆ … ┆ 50      ┆ 65    ┆ 1          ┆ false     │
│ …   ┆ …                     ┆ …       ┆ …      ┆ … ┆ …       ┆ …     ┆ …          ┆ …         │
│ 146 ┆ Moltres               ┆ Fire    ┆ Flying ┆ … ┆ 85      ┆ 90    ┆ 1          ┆ true      │
│ 147 ┆ Dratini               ┆ Dragon  ┆ null   ┆ … ┆ 50      ┆ 50    ┆ 1          ┆ false     │
│ 148 ┆ Dragonair             ┆ Dragon  ┆ null   ┆ … ┆ 70      ┆ 70    ┆ 1          ┆ false     │
│ 149 ┆ Dragonite             ┆ Dragon  ┆ Flying ┆ … ┆ 100     ┆ 80    ┆ 1          ┆ false     │
│ 150 ┆ Mewtwo                ┆ Psychic ┆ null   ┆ … ┆ 90      ┆ 130   ┆ 1          ┆ true      │
└─────┴───────────────────────┴─────────┴────────┴───┴─────────┴───────┴────────────┴───────────┘

In [37]:
(
    pokemon.lazy()
    .select(
        "Type 1",
        "Type 2",
        pl.col("Attack").mean().over("Type 1").alias("avg_attack_by_type"),
        pl.col("Defense")
        .mean()
        .over(["Type 1", "Type 2"])
        .alias("avg_defense_by_type_combination"),
        pl.col("Attack").mean().alias("avg_attack"),
    )
    .collect()
)

shape: (163, 5)
┌─────────┬────────┬────────────────────┬─────────────────────────────────┬────────────┐
│ Type 1  ┆ Type 2 ┆ avg_attack_by_type ┆ avg_defense_by_type_combination ┆ avg_attack │
│ ---     ┆ ---    ┆ ---                ┆ ---                             ┆ ---        │
│ str     ┆ str    ┆ f64                ┆ f64                             ┆ f64        │
╞═════════╪════════╪════════════════════╪═════════════════════════════════╪════════════╡
│ Grass   ┆ Poison ┆ 72.923077          ┆ 67.8                            ┆ 75.349693  │
│ Grass   ┆ Poison ┆ 72.923077          ┆ 67.8                            ┆ 75.349693  │
│ Grass   ┆ Poison ┆ 72.923077          ┆ 67.8                            ┆ 75.349693  │
│ Grass   ┆ Poison ┆ 72.923077          ┆ 67.8                            ┆ 75.349693  │
│ Fire    ┆ null   ┆ 88.642857          ┆ 58.3                            ┆ 75.349693  │
│ …       ┆ …      ┆ …                  ┆ …                               ┆ …          │
│ Fire    ┆ Flying ┆ 88.642857          ┆ 82.0                            ┆ 75.349693  │
│ Dragon  ┆ null   ┆ 94.0               ┆ 55.0                            ┆ 75.349693  │
│ Dragon  ┆ null   ┆ 94.0               ┆ 55.0                            ┆ 75.349693  │
│ Dragon  ┆ Flying ┆ 94.0               ┆ 95.0                            ┆ 75.349693  │
│ Psychic ┆ null   ┆ 53.875             ┆ 51.428571                       ┆ 75.349693  │
└─────────┴────────┴────────────────────┴─────────────────────────────────┴────────────┘

In [38]:
(
    pokemon.lazy()
    .select(pl.col("Name").value_counts(sort=True))
    .unnest("Name")
    .collect()
)

shape: (163, 2)
┌───────────────────────┬───────┐
│ Name                  ┆ count │
│ ---                   ┆ ---   │
│ str                   ┆ u32   │
╞═══════════════════════╪═══════╡
│ Bulbasaur             ┆ 1     │
│ Ivysaur               ┆ 1     │
│ Venusaur              ┆ 1     │
│ VenusaurMega Venusaur ┆ 1     │
│ Charmander            ┆ 1     │
│ …                     ┆ …     │
│ Moltres               ┆ 1     │
│ Dratini               ┆ 1     │
│ Dragonair             ┆ 1     │
│ Dragonite             ┆ 1     │
│ Mewtwo                ┆ 1     │
└───────────────────────┴───────┘

In [39]:
(pokemon.lazy().select(pl.col("Name").is_duplicated()).collect())

shape: (163, 1)
┌───────┐
│ Name  │
│ ---   │
│ bool  │
╞═══════╡
│ false │
│ false │
│ false │
│ false │
│ false │
│ …     │
│ false │
│ false │
│ false │
│ false │
│ false │
└───────┘